@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap");

:root {
  --primary-clr: #d92d37;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(242 242 247);
  font-family: "Manrope", sans-serif;
  width: 100vw;
}
.card {
  padding: 2rem;
  background-color: rgb(29, 28, 28);
  color: #fff;
}
p {
  font-size: 1.3rem;
}
nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 0;
}
img {
  object-fit: contain;
  width: 2rem;
  -webkit-user-drag: none;
}
ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  gap: 2rem;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
a:hover {
  border-bottom: solid 1px #000;
}
#landing {
  display: grid;
  place-content: center;
  position: relative;
}
#focalHeading {
  font-size: 6rem;
  letter-spacing: -6px;
  margin: 10rem 0;
}
.primary-btn {
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 0.4rem 1rem;
  background-color: var(--primary-clr);
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 24px;
}
.primary-btn:hover {
  cursor: pointer;
}
.primary-btn:active {
  transform: scale(0.95);
}
.focus {
  background-color: rgb(230, 230, 238);
  padding: 0 1rem;
  border-radius: 1000px;
}
#tr {
  position: absolute;
  bottom: 5rem;
  right: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--primary-clr);
  animation: ballr 2s alternate-reverse infinite;
}
#bl {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--primary-clr);
  animation: balll 4s alternate-reverse infinite;
}
@keyframes ballr {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw);
  }
}
@keyframes balll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50vw);
  }
}
home {
  display: grid;
  place-content: center;
}
.subtitle {
  display: grid;
  place-content: center;
  font-size: 1rem;
}
.info {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  padding: 20rem;
  background-color: #fff;
  margin: 10rem 0;
  gap: 4rem;
}
.infoTitle {
  font-size: 3rem;
  letter-spacing: -2px;
}
p {
  line-height: 1.7;
}
.link-btn {
  display: content;
  place-content: center;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  background-color: #000;
  color: #fff;
  width: fit-content;
}
.link-btn:hover {
  border: none;
}
.content {
  display: grid;
  gap: 2rem;
}
h2 {
  font-size: 2rem;
}
.slider {
  padding: 0 0 10rem 10rem;
  overflow-x: hidden;
}
.sliderChain {
  display: grid;
  grid-auto-flow: column;
  gap: 5rem;
  oveerflow-x: hidden;
}
.SliderItem > img {
  width: 50rem;
  height: 25rem;
  object-fit: cover;
}
.SliderContent {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}
